<ion-content>
	<div class="contenedor">
		<h1 class="titulo1">TODAY’S TOP!!</h1>
		<div class="imagen3">
			<ion-img [src]="user.image" (click)="goToProfile()"></ion-img>
		</div>

		<ion-slides [options]="slideOpts1">
			<ion-slide *ngFor="let card of tops">
				<div class="contenedor2">
					<h1 class="titulo" (click)="openEvent(card)">{{ card.text }}</h1>
					<div class="imagen5" (click)="addFavorite(card)">
						<ion-img [src]="card.marker" width="32"></ion-img>
					</div>
					<div class="imagen2" (click)="openEvent(card)" [style.backgroundImage]="card.image ? 'url('+card.image+')' : ''">
						<h2 class="h10">{{ card.tags.join(' ') }}</h2>
					</div>
				</div>
			</ion-slide>

		</ion-slides>
	</div>
	<div class="contenedor1">
		<h3 class="p10">popular tags</h3>
		<div class="mb20" *ngFor="let etiqueta of etiquetas">
			<div *ngIf="cards['#'+etiqueta.name]">
				<h1 class="p20">#{{ etiqueta.name }}</h1>
				<ion-slides [options]="slideOpts1">
					<ion-slide *ngFor="let card of cards['#'+etiqueta.name]">
						<div class="borde" (click)="openEvent(card)">
							<h1 class="w10">{{ card.text }}</h1>
							<div class="imagen5" (click)="addFavorite(card)">
								<ion-img [src]="card.marker" width="32"></ion-img>
							</div>
							<img src="assets/izquierdazo.svg" class="imagen1">
							<div class="imagen2" [style.backgroundImage]="card.image ? 'url('+card.image+')' : ''">
								<h2 class="h10">{{ card.tags.join(' ') }}</h2>
							</div>
						</div>
					</ion-slide>
				</ion-slides>
			</div>
		</div>
	</div>
</ion-content>
