ion-content{
    --ion-background-color:#000;
}
.contenedor{
    background-color: #ff006b;
    padding-bottom:20px;
    position: relative;
}
.titulo1{
    font-family: Champion-HTF-Featherweight;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 24px;
    margin-top: 0px;
    padding-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.imagen3{
    width: 41px;
    height: 41px;
    position: absolute;
    right: 25px;
    top: 29px;
}
.imagen3 ion-img {
    border-radius: 50%;
    overflow: hidden;
}
.contenedor2{
    width: 255px;
    //width: 320px;
    height: auto;
    margin-left: 24px;
    object-fit: contain;
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    background: #c20052;
    position: relative;
    overflow: hidden;
}
.imagen1{
    width: 30px;
    height: 28px;
    position: absolute;
    margin-left: 240px;
    margin-top: -65px;
}
.titulo{
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    margin-left: 15px;
    padding-top: 15px;
    width: 150px;
    text-align: left;
}
//segundo contenedor

.borde{
    width: 255px;
    background-color: #ff006b;
    border-radius: 12px;
    margin-left: 24px;
    margin-bottom: 20px;
    overflow: hidden;
}

.contenedor1{
    width: 100%;
    background-color: #000000;
    padding-bottom: 20px;
}
.w10{
    color: white;
    font-size: 50px;
    padding-top: 10px;
    margin-left: 10px;
    text-align: left;
}
.w20{
    color: white;
    font-size: 50px;
    margin-left: 10px;
    margin-top: -26px;
}
.imagen1{
    width: 20px;
    height: 28px;
    object-fit: contain;
    position: absolute;
    margin-left: 215px;
    margin-top: -100px;
}
.w30{
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 17px;
}
.w40{
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 110px;
}


//tercer contenedor

.borde{
    width: 255px;
    background-color: #ff006b;
    border-radius: 12px;
}


.w10{
    color: white;
    font-size: 50px;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 10px;
}
.w20{
    color: white;
    font-size: 50px;
    margin-left: 10px;
    margin-top: -26px;
}
.imagen1{
    width: 20px;
    height: 28px;
    object-fit: contain;
    position: absolute;
    margin-left: 215px;
    margin-top: -100px;
}
.w30{
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 17px;
}
.w40{
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 110px;
}
.imagen2{
    width:100%;
    height:273px;
    object-fit: contain;
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    padding: 10px;
    background-color: #313131;

    h2 {
        font-family: Helvetica !important;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.72px;
        color: #ffffff;
        margin: 0;
        display: inline-block;
        margin-right: 15px;
    }
}
.p10{
    opacity: 0.6;
    font-family: Helvetica !important;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 24px;
    border-bottom: 2px solid #999;
    padding-bottom: 15px;
    padding-top: 20px;
}
.p20{
    font-family: Helvetica !important;
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 24px;
    font-weight: bold;
}
.p30{
    color: white;
    font-size: 23px;
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 25px;
}
.imagen5{
    width: 32px;
    height: 28px;
    position: absolute;
    top: 15px;
    right: 20px;
}
