ion-content{
    --background: #000 !important;
    //--background: url('../../assets/imgs/bg_paso4.png') 0 0/100% 100% no-repeat;
}
ion-footer{
    position: absolute;
    bottom: 0px;
}
ion-header{
    position: absolute;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.bg-transparent {
    background: transparent;
}
ion-button ion-icon{
    font-size: 40px;
}
h2{
    color: #ffffff;
    font-family: 'Champion-HTF-Featherweight';
    font-size: 30px;
    text-transform: uppercase;
}
h3{
    color: #ffffff;
    font-family: 'Champion-HTF-Featherweight';
    font-size: 30px;
}
p.txt_interes{
    color: #000;
    background-color: #c4c4c4;
    border-radius: 30px;
    font-family: "HelveticaCEBold" !important;
    width: 80px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    font-size: 15px;
}
.btn_editar{
    margin-top: -15px;
}
ion-slides{
    height: 55%;
}
ion-slide{
    display: block;
    height: 90%;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.cont_profile{
    position: relative;
    height: 100%;
    h1{
        position: absolute;
        width: 100%;
        top: 120px;
        color: #000;
        text-transform: uppercase;
        font-size: 60px;
        margin-top: 60px;
        line-height: 52px;
    }
    .cont_guante{
        position: absolute;
        width: 100%;
        left: 40px;
        bottom: 140px;
    }
    .cover1{
        background: url('../../assets/imgs/cover1/cover1.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 210px;
        height: 210px;
    }
    .cover2{
        background: url('../../assets/imgs/cover2/cover2.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 132px;
        height: 132px;
        margin: 40px auto;
        padding-top: 1px;
    }
    .img_profile{
        width: 100px;
        height: 100px;
        margin: 16px auto;
    }
    .btn_fotoprofile{
        margin-top: 20px;
        height: 220px;
        width: 240px;
    }
    h2{
        color: #fff;
        font-size: 36px;
        font-family: 'Champion-HTF-Featherweight';
        margin-bottom: 0px;
        span{
            color: #c4c4c4;
            font-size: 16px;
        }
    }
    h6{
        color: #fff;
        font-family: 'Champion-HTF-Featherweight';
        font-size: 18px;
        margin-top: 0px;
    }
    ul.estadisticas{
        list-style: none;
        li{
            float: left;
            width: 28%;
            border-right: 1px solid #c4c4c4;
            height: 20px;
            margin-top: 20px;

            ion-label{
                h4{
                    color: #fff;
                    font-family: 'Champion-HTF-Featherweight';
                    font-size: 30px;
                    margin-top: -20px;
                }
                h5{
                    color: gray;
                    font-family: 'Champion-HTF-Featherweight';
                    font-size: 18px;
                }
            }
        }
        li:last-child{
            border: none;
        }
    }
}
.bloque2{
    background-color: #353535;
    width: 100%;
    height: 520px;
    ion-slides{
        height: 28%;
    }
    ion-slide{
        display: block;
        height: 58%;
    }
    .cuadro_estadistico{
        .grafico{
            position: relative;
            .linea_punteada{
                width: 320px;
                height: 1px;
                border: 1px dashed #fff;
                position: absolute;
                top: 50px;
                left: 20px;
            }
            p.indicador{
                font-size: 10px;
                color: darkgray;
                font-family: 'Champion-HTF-Featherweight' !important;
                position: absolute;
                top: -16px;
                right: -32px;
                width: 18px;
            }
            .linea_seguida{
                width: 320px;
                height: 1px;
                border: 1px solid #fff;
                position: absolute;
                top: 120px;
                left: 20px;
            }
            ul.lista_grafos{
                list-style: none;
                padding-left: 0px;
                li{
                    float: left;
                    padding-left: 0px;
                    margin-left: 22px;
                    margin-right: 22px;
                }
            }
            .pos1{
                left: 0%;
            }
            .pos2{
                left: 14%;
            }
            .pos3{
                left: 28%;
            }
            .pos4{
                left: 42%;
            }
            .pos5{
                left: 56%;
            }
            .pos6{
                left: 70%;
            }
            .pos7{
                left: 84%;
            }
            .grafo{
                width: 50px;
                text-align: center;
                position: absolute;
                .bpuntos{
                    width: 14px;
                    height: 0px;
                    background-color: #ff006b;
                    position: absolute;
                    left: 50%;
                    margin-left: -7px;
                    bottom: 102%;
                }
                .tamanio1{
                    height: 80px;
                }
                .tamanio2{
                    height: 50px;
                }
                .tamanio3{
                    height: 100px;
                }
                .marcacion{
                    width: 2px;
                    height: 5px;
                    background-color: #fff;
                    position: absolute;
                    top: 0px;
                    left: 50%;
                }
                h5{
                    color: #fff;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    font-size: 24px;
                    margin-bottom: 0px;
                }
                h6{
                    color:#fff;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    font-size: 14px;
                    opacity: 0.5;
                    padding-left: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
    .cont_idea2{
        position: absolute;
        top: 0px;
        width: 90px;
        height: 200px;
        left: 50%;
        margin-left: -45px;
        p.bloque_imagen{
            height: 70px;
            margin-top: 15px;
            margin-bottom: 0px;
            img.badge{
                //margin-top: -20px;
            }
        }

        h2{
            color: #fff;
            font-family: "Champion-HTF-Featherweight" !important;
            font-size: 14px;
            text-transform: capitalize;
            margin-top: 0px;
            padding-top: 0px;
            margin-bottom: 2px;

        }
        p{
            color: darkgray;
            font-family: "Champion-HTF-Featherweight" !important;
            text-transform: capitalize;
            margin-top: 0px;
            font-size: 12px;
        }
        p.active{
            color: #fff;
        }
    }
    h3{
        padding-left: 20px;
        font-size: 24px;
        margin-bottom: 0px;
        padding-top: 20px;
    }
    h6{
        font-size: 14px;
        color: #c4c4c4;
        font-family: "Champion-HTF-Featherweight" !important;
        padding-left: 20px;
    }
}
.bloque3{
    width: 100%;
    height: 500px;
    padding-top: 40px;
    p.img-favoritos{
        float: left;
        margin-top: 0px;
        padding-right: 10px;
        padding-left: 20px;
    }
    h4{
        color: #fff;
        font-family: 'Champion-HTF-Featherweight' !important;
        font-size: 48px;
        text-transform: uppercase;
        text-align: left;
        line-height: 42px;
        margin-right: 40px;
        padding-left: 15px;
        z-index: 2;
        position: relative;
    }
    ul.tags{
        list-style: none;
        padding-left: 0px;
        z-index: 2;
        position: relative;
        li{
            float: left;
            color: #fff;
            font-size: 18px;
            font-family: "HelveticaCEBold" !important;
            padding-left: 12px;
        }
    }
    img.personaje{
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        border-radius: 10px;
    }
    h3{
        color: #fff;
        font-family: 'Champion-HTF-Featherweight' !important;
        font-size: 26px;
        text-transform: uppercase;
        padding-left: 10px;

    }
    .cont_idea3{
        position: absolute;
        top: 10px;
        width: 255px;
        height: 384px;
        background-color:#ff006b;
        box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        left: 50%;
        margin-left: -127.5px;
    }
    ion-slides{
        height: 100%;
        width: 100%;
        padding-left: 0px;
    }
}

@media screen and (max-height: 775px){
    img.img_sack{
        width: 60%;
    }
    img.img_guante{
        width: 50%;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    h3{
        color: #ffffff;
        font-family: 'Champion-HTF-Featherweight';
        font-size: 25px;
    }
    ion-slides{
        height: 78%;
    }
    .cont_profile{
        position: relative;
        height: 100%;
        h1{
            position: absolute;
            width: 100%;
            top: 120px;
            color: #000;
            text-transform: uppercase;
            font-size: 60px;
            margin-top: 60px;
            line-height: 52px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cover1{
            background: url('../../assets/imgs/cover1/cover1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 210px;
            height: 210px;
        }
        .cover2{
            background: url('../../assets/imgs/cover2/cover2.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 132px;
            height: 132px;
            margin: 40px auto;
            padding-top: 1px;
        }
        .img_profile{
            width: 100px;
            height: 100px;
            margin: 16px auto;
        }
        .btn_fotoprofile{
            margin-top: 20px;
            height: 220px;
            width: 240px;
        }
        h2{
            color: #fff;
            font-size: 36px;
            font-family: 'Champion-HTF-Featherweight';
            margin-bottom: 0px;
            span{
                color: #c4c4c4;
                font-size: 16px;
            }
        }
        h6{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight';
            font-size: 18px;
            margin-top: 0px;
        }
        ul.estadisticas{
            list-style: none;
            li{
                float: left;
                width: 28%;
                border-right: 1px solid #c4c4c4;
                height: 20px;
                margin-top: 20px;

                ion-label{
                    h4{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 30px;
                        margin-top: -20px;
                    }
                    h5{
                        color: gray;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 18px;
                    }
                }
            }
            li:last-child{
                border: none;
            }
        }
    }

    .bloque2{
        background-color: #353535;
        width: 100%;
        height: 520px;
        ion-slides{
            height: 28%;
        }
        ion-slide{
            display: block;
            height: 58%;
        }
        .cuadro_estadistico{
            .grafico{
                position: relative;
                .linea_punteada{
                    width: 265px;
                    height: 1px;
                    border: 1px dashed #fff;
                    position: absolute;
                    top: 50px;
                    left: 20px;
                }
                p.indicador{
                    font-size: 10px;
                    color: darkgray;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    position: absolute;
                    top: -16px;
                    right: -32px;
                    width: 18px;
                }
                .linea_seguida{
                    width: 265px;
                    height: 1px;
                    border: 1px solid #fff;
                    position: absolute;
                    top: 120px;
                    left: 20px;
                }
                ul.lista_grafos{
                    list-style: none;
                    padding-left: 0px;
                    li{
                        float: left;
                        padding-left: 0px;
                        margin-left: 22px;
                        margin-right: 22px;
                    }
                }
                .pos1{
                    left: 0%;
                }
                .pos2{
                    left: 14%;
                }
                .pos3{
                    left: 28%;
                }
                .pos4{
                    left: 42%;
                }
                .pos5{
                    left: 56%;
                }
                .pos6{
                    left: 70%;
                }
                .pos7{
                    left: 84%;
                }
                .grafo{
                    width: 50px;
                    text-align: center;
                    position: absolute;
                    .bpuntos{
                        width: 14px;
                        height: 0px;
                        background-color: #ff006b;
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: 101%;
                    }
                    .tamanio1{
                        height: 80px;
                    }
                    .tamanio2{
                        height: 50px;
                    }
                    .tamanio3{
                        height: 100px;
                    }
                    .marcacion{
                        width: 2px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                    }
                    h5{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                    h6{
                        color:#fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 14px;
                        opacity: 0.5;
                        padding-left: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
        .cont_idea2{
            position: absolute;
            top: 0px;
            width: 90px;
            height: 200px;
            left: 50%;
            margin-left: -45px;
            p.bloque_imagen{
                height: 70px;
                margin-top: 15px;
                margin-bottom: 0px;
                img.badge{
                    //margin-top: -20px;
                }
            }

            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 14px;
                text-transform: capitalize;
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: darkgray;
                font-family: "Champion-HTF-Featherweight" !important;
                text-transform: capitalize;
                margin-top: 0px;
                font-size: 12px;
            }
            p.active{
                color: #fff;
            }
        }
        h3{
            padding-left: 20px;
            font-size: 24px;
            margin-bottom: 0px;
            padding-top: 20px;
        }
        h6{
            font-size: 14px;
            color: #c4c4c4;
            font-family: "Champion-HTF-Featherweight" !important;
            padding-left: 20px;
        }
    }

    .bloque3{
        width: 100%;
        height: 500px;
        padding-top: 40px;
        p.img-favoritos{
            float: left;
            margin-top: 0px;
            padding-right: 10px;
            padding-left: 20px;
        }
        h4{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 42px;
            text-transform: uppercase;
            text-align: left;
            line-height: 42px;
            margin-right: 40px;
            padding-left: 15px;
            z-index: 2;
            position: relative;
        }
        ul.tags{
            list-style: none;
            padding-left: 0px;
            z-index: 2;
            position: relative;
            li{
                float: left;
                color: #fff;
                font-size: 18px;
                font-family: "HelveticaCEBold" !important;
                padding-left: 12px;
            }
        }
        img.personaje{
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 10px;
        }
        h3{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 26px;
            text-transform: uppercase;
            padding-left: 10px;

        }
        .cont_idea3{
            position: absolute;
            top: 10px;
            width: 225px;
            height: 384px;
            background-color:#ff006b;
            box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            left: 50%;
            margin-left: -127.5px;
        }
        ion-slides{
            height: 100%;
            width: 100%;
            padding-left: 20px;
        }
    }

    /*.cont_profile .btn_fotoprofile{
        margin-top: 145px;
        height: 220px;
        width: 240px;
    }
    .bloque2 .cuadro_estadistico .grafico .linea_punteada{
        width: 265px;
    }
    .bloque2 .cuadro_estadistico .grafico .linea_seguida{
        width: 265px;
    }
    .bloque2 .cuadro_estadistico .grafico .grafo .bpuntos{
        bottom: 101%;
    }
    .bloque3 .cont_idea3{
        width: 225px;
    }
    .bloque3 ion-slides{
        padding-left: 20px;
    }
    .bloque3 h4{
        font-size: 42px;
    }
    */
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    ion-slides{
        height: 68% !important;
    }
    .cont_profile{
        position: relative;
        height: 100%;
        h1{
            position: absolute;
            width: 100%;
            top: 120px;
            color: #000;
            text-transform: uppercase;
            font-size: 60px;
            margin-top: 60px;
            line-height: 52px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cover1{
            background: url('../../assets/imgs/cover1/cover1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 210px;
            height: 210px;
        }
        .cover2{
            background: url('../../assets/imgs/cover2/cover2.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 132px;
            height: 132px;
            margin: 40px auto;
            padding-top: 1px;
        }
        .img_profile{
            width: 100px;
            height: 100px;
            margin: 16px auto;
        }
        .btn_fotoprofile{
            margin-top: 20px;
            height: 220px;
            width: 240px;
        }
        h2{
            color: #fff;
            font-size: 36px;
            font-family: 'Champion-HTF-Featherweight';
            margin-bottom: 0px;
            span{
                color: #c4c4c4;
                font-size: 16px;
            }
        }
        h6{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight';
            font-size: 18px;
            margin-top: 0px;
        }
        ul.estadisticas{
            list-style: none;
            li{
                float: left;
                width: 28%;
                border-right: 1px solid #c4c4c4;
                height: 20px;
                margin-top: 20px;

                ion-label{
                    h4{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 30px;
                        margin-top: -20px;
                    }
                    h5{
                        color: gray;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 18px;
                    }
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
    .bloque2{
        background-color: #353535;
        width: 100%;
        height: 520px;
        ion-slides{
            height: 28% !important;
        }
        ion-slide{
            display: block;
            height: 58%;
        }
        .cuadro_estadistico{
            .grafico{
                position: relative;
                .linea_punteada{
                    width: 320px;
                    height: 1px;
                    border: 1px dashed #fff;
                    position: absolute;
                    top: 50px;
                    left: 20px;
                }
                p.indicador{
                    font-size: 10px;
                    color: darkgray;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    position: absolute;
                    top: -16px;
                    right: -32px;
                    width: 18px;
                }
                .linea_seguida{
                    width: 320px;
                    height: 1px;
                    border: 1px solid #fff;
                    position: absolute;
                    top: 120px;
                    left: 20px;
                }
                ul.lista_grafos{
                    list-style: none;
                    padding-left: 0px;
                    li{
                        float: left;
                        padding-left: 0px;
                        margin-left: 22px;
                        margin-right: 22px;
                    }
                }
                .pos1{
                    left: 0%;
                }
                .pos2{
                    left: 14%;
                }
                .pos3{
                    left: 28%;
                }
                .pos4{
                    left: 42%;
                }
                .pos5{
                    left: 56%;
                }
                .pos6{
                    left: 70%;
                }
                .pos7{
                    left: 84%;
                }
                .grafo{
                    width: 50px;
                    text-align: center;
                    position: absolute;
                    .bpuntos{
                        width: 14px;
                        height: 0px;
                        background-color: #ff006b;
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: 102%;
                    }
                    .tamanio1{
                        height: 80px;
                    }
                    .tamanio2{
                        height: 50px;
                    }
                    .tamanio3{
                        height: 100px;
                    }
                    .marcacion{
                        width: 2px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                    }
                    h5{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                    h6{
                        color:#fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 14px;
                        opacity: 0.5;
                        padding-left: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
        .cont_idea2{
            position: absolute;
            top: 0px;
            width: 90px;
            height: 200px;
            left: 50%;
            margin-left: -45px;
            p.bloque_imagen{
                height: 70px;
                margin-top: 15px;
                margin-bottom: 0px;
                img.badge{
                    //margin-top: -20px;
                }
            }

            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 14px;
                text-transform: capitalize;
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: darkgray;
                font-family: "Champion-HTF-Featherweight" !important;
                text-transform: capitalize;
                margin-top: 0px;
                font-size: 12px;
            }
            p.active{
                color: #fff;
            }
        }
        h3{
            padding-left: 20px;
            font-size: 24px;
            margin-bottom: 0px;
            padding-top: 20px;
        }
        h6{
            font-size: 14px;
            color: #c4c4c4;
            font-family: "Champion-HTF-Featherweight" !important;
            padding-left: 20px;
        }
    }
    .bloque3{
        width: 100%;
        height: 500px;
        padding-top: 40px;
        p.img-favoritos{
            float: left;
            margin-top: 0px;
            padding-right: 10px;
            padding-left: 20px;
        }
        h4{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 48px;
            text-transform: uppercase;
            text-align: left;
            line-height: 42px;
            margin-right: 40px;
            padding-left: 15px;
            z-index: 2;
            position: relative;
        }
        ul.tags{
            list-style: none;
            padding-left: 0px;
            z-index: 2;
            position: relative;
            li{
                float: left;
                color: #fff;
                font-size: 18px;
                font-family: "HelveticaCEBold" !important;
                padding-left: 12px;
            }
        }
        img.personaje{
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 10px;
        }
        h3{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 26px;
            text-transform: uppercase;
            padding-left: 10px;

        }
        .cont_idea3{
            position: absolute;
            top: 10px;
            width: 255px;
            height: 384px;
            background-color:#ff006b;
            box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            left: 50%;
            margin-left: -127.5px;
        }
        ion-slides{
            height: 100% !important;
            width: 100% !important;
            padding-left: 0px;
        }
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    ion-slides{
        height: 60% !important;
    }
    .cont_profile{
        position: relative;
        height: 100%;
        h1{
            position: absolute;
            width: 100%;
            top: 120px;
            color: #000;
            text-transform: uppercase;
            font-size: 60px;
            margin-top: 60px;
            line-height: 52px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cover1{
            background: url('../../assets/imgs/cover1/cover1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 210px;
            height: 210px;
        }
        .cover2{
            background: url('../../assets/imgs/cover2/cover2.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 132px;
            height: 132px;
            margin: 40px auto;
            padding-top: 1px;
        }
        .img_profile{
            width: 100px;
            height: 100px;
            margin: 16px auto;
        }
        .btn_fotoprofile{
            margin-top: 200px;
            height: 220px;
            width: 240px;
        }
        h2{
            color: #fff;
            font-size: 36px;
            font-family: 'Champion-HTF-Featherweight';
            margin-bottom: 0px;
            span{
                color: #c4c4c4;
                font-size: 16px;
            }
        }
        h6{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight';
            font-size: 18px;
            margin-top: 0px;
        }
        ul.estadisticas{
            list-style: none;
            li{
                float: left;
                width: 28%;
                border-right: 1px solid #c4c4c4;
                height: 20px;
                margin-top: 20px;

                ion-label{
                    h4{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 30px;
                        margin-top: -20px;
                    }
                    h5{
                        color: gray;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 18px;
                    }
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
    .bloque2{
        background-color: #353535;
        width: 100%;
        height: 520px;
        ion-slides{
            height: 28% !important;
        }
        ion-slide{
            display: block;
            height: 58%;
        }
        .cuadro_estadistico{
            .grafico{
                position: relative;
                .linea_punteada{
                    width: 320px;
                    height: 1px;
                    border: 1px dashed #fff;
                    position: absolute;
                    top: 50px;
                    left: 20px;
                }
                p.indicador{
                    font-size: 10px;
                    color: darkgray;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    position: absolute;
                    top: -16px;
                    right: -32px;
                    width: 18px;
                }
                .linea_seguida{
                    width: 320px;
                    height: 1px;
                    border: 1px solid #fff;
                    position: absolute;
                    top: 120px;
                    left: 20px;
                }
                ul.lista_grafos{
                    list-style: none;
                    padding-left: 0px;
                    li{
                        float: left;
                        padding-left: 0px;
                        margin-left: 22px;
                        margin-right: 22px;
                    }
                }
                .pos1{
                    left: 0%;
                }
                .pos2{
                    left: 14%;
                }
                .pos3{
                    left: 28%;
                }
                .pos4{
                    left: 42%;
                }
                .pos5{
                    left: 56%;
                }
                .pos6{
                    left: 70%;
                }
                .pos7{
                    left: 84%;
                }
                .grafo{
                    width: 50px;
                    text-align: center;
                    position: absolute;
                    .bpuntos{
                        width: 14px;
                        height: 0px;
                        background-color: #ff006b;
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: 102%;
                    }
                    .tamanio1{
                        height: 80px;
                    }
                    .tamanio2{
                        height: 50px;
                    }
                    .tamanio3{
                        height: 100px;
                    }
                    .marcacion{
                        width: 2px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                    }
                    h5{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                    h6{
                        color:#fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 14px;
                        opacity: 0.5;
                        padding-left: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
        .cont_idea2{
            position: absolute;
            top: 0px;
            width: 90px;
            height: 200px;
            left: 50%;
            margin-left: -45px;
            p.bloque_imagen{
                height: 70px;
                margin-top: 15px;
                margin-bottom: 0px;
                img.badge{
                    //margin-top: -20px;
                }
            }

            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 14px;
                text-transform: capitalize;
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: darkgray;
                font-family: "Champion-HTF-Featherweight" !important;
                text-transform: capitalize;
                margin-top: 0px;
                font-size: 12px;
            }
            p.active{
                color: #fff;
            }
        }
        h3{
            padding-left: 20px;
            font-size: 24px;
            margin-bottom: 0px;
            padding-top: 20px;
        }
        h6{
            font-size: 14px;
            color: #c4c4c4;
            font-family: "Champion-HTF-Featherweight" !important;
            padding-left: 20px;
        }
    }
    .bloque3{
        width: 100%;
        height: 500px;
        padding-top: 40px;
        p.img-favoritos{
            float: left;
            margin-top: 0px;
            padding-right: 10px;
            padding-left: 20px;
        }
        h4{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 48px;
            text-transform: uppercase;
            text-align: left;
            line-height: 42px;
            margin-right: 40px;
            padding-left: 15px;
            z-index: 2;
            position: relative;
        }
        ul.tags{
            list-style: none;
            padding-left: 0px;
            z-index: 2;
            position: relative;
            li{
                float: left;
                color: #fff;
                font-size: 18px;
                font-family: "HelveticaCEBold" !important;
                padding-left: 12px;
            }
        }
        img.personaje{
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 10px;
        }
        h3{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 26px;
            text-transform: uppercase;
            padding-left: 10px;

        }
        .cont_idea3{
            position: absolute;
            top: 10px;
            width: 255px;
            height: 384px;
            background-color:#ff006b;
            box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            left: 50%;
            margin-left: -127.5px;
        }
        ion-slides{
            height: 100% !important;
            width: 100% !important;
            padding-left: 0px;
        }
    }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    h3{
        color: #ffffff;
        font-family: 'Champion-HTF-Featherweight';
        font-size: 30px;
    }
    ion-slides{
        height: 60% !important;
    }
    .cont_profile{
        position: relative;
        height: 100%;
        h1{
            position: absolute;
            width: 100%;
            top: 120px;
            color: #000;
            text-transform: uppercase;
            font-size: 60px;
            margin-top: 60px;
            line-height: 52px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cover1{
            background: url('../../assets/imgs/cover1/cover1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 210px;
            height: 210px;
        }
        .cover2{
            background: url('../../assets/imgs/cover2/cover2.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 132px;
            height: 132px;
            margin: 40px auto;
            padding-top: 1px;
        }
        .img_profile{
            width: 100px;
            height: 100px;
            margin: 16px auto;
        }
        .btn_fotoprofile{
            margin-top: 20px;
            height: 220px;
            width: 240px;
        }
        h2{
            color: #fff;
            font-size: 36px;
            font-family: 'Champion-HTF-Featherweight';
            margin-bottom: 0px;
            span{
                color: #c4c4c4;
                font-size: 16px;
            }
        }
        h6{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight';
            font-size: 18px;
            margin-top: 0px;
        }
        ul.estadisticas{
            list-style: none;
            li{
                float: left;
                width: 28%;
                border-right: 1px solid #c4c4c4;
                height: 20px;
                margin-top: 20px;

                ion-label{
                    h4{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 30px;
                        margin-top: -20px;
                    }
                    h5{
                        color: gray;
                        font-family: 'Champion-HTF-Featherweight';
                        font-size: 18px;
                    }
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
    .bloque2{
        background-color: #353535;
        width: 100%;
        height: 520px;
        ion-slides{
            height: 28%;
        }
        ion-slide{
            display: block;
            height: 58%;
        }
        .cuadro_estadistico{
            .grafico{
                position: relative;
                .linea_punteada{
                    width: 320px;
                    height: 1px;
                    border: 1px dashed #fff;
                    position: absolute;
                    top: 50px;
                    left: 20px;
                }
                p.indicador{
                    font-size: 10px;
                    color: darkgray;
                    font-family: 'Champion-HTF-Featherweight' !important;
                    position: absolute;
                    top: -16px;
                    right: -32px;
                    width: 18px;
                }
                .linea_seguida{
                    width: 320px;
                    height: 1px;
                    border: 1px solid #fff;
                    position: absolute;
                    top: 120px;
                    left: 20px;
                }
                ul.lista_grafos{
                    list-style: none;
                    padding-left: 0px;
                    li{
                        float: left;
                        padding-left: 0px;
                        margin-left: 22px;
                        margin-right: 22px;
                    }
                }
                .pos1{
                    left: 0%;
                }
                .pos2{
                    left: 14%;
                }
                .pos3{
                    left: 28%;
                }
                .pos4{
                    left: 42%;
                }
                .pos5{
                    left: 56%;
                }
                .pos6{
                    left: 70%;
                }
                .pos7{
                    left: 84%;
                }
                .grafo{
                    width: 50px;
                    text-align: center;
                    position: absolute;
                    .bpuntos{
                        width: 14px;
                        height: 0px;
                        background-color: #ff006b;
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: 102%;
                    }
                    .tamanio1{
                        height: 80px;
                    }
                    .tamanio2{
                        height: 50px;
                    }
                    .tamanio3{
                        height: 100px;
                    }
                    .marcacion{
                        width: 2px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                    }
                    h5{
                        color: #fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                    h6{
                        color:#fff;
                        font-family: 'Champion-HTF-Featherweight' !important;
                        font-size: 14px;
                        opacity: 0.5;
                        padding-left: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
        .cont_idea2{
            position: absolute;
            top: 0px;
            width: 90px;
            height: 200px;
            left: 50%;
            margin-left: -45px;
            p.bloque_imagen{
                height: 70px;
                margin-top: 15px;
                margin-bottom: 0px;
                img.badge{
                    //margin-top: -20px;
                }
            }

            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 14px;
                text-transform: capitalize;
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: darkgray;
                font-family: "Champion-HTF-Featherweight" !important;
                text-transform: capitalize;
                margin-top: 0px;
                font-size: 12px;
            }
            p.active{
                color: #fff;
            }
        }
        h3{
            padding-left: 20px;
            font-size: 24px;
            margin-bottom: 0px;
            padding-top: 20px;
        }
        h6{
            font-size: 14px;
            color: #c4c4c4;
            font-family: "Champion-HTF-Featherweight" !important;
            padding-left: 20px;
        }
    }
    .bloque3{
        width: 100%;
        height: 500px;
        padding-top: 40px;
        p.img-favoritos{
            float: left;
            margin-top: 0px;
            padding-right: 10px;
            padding-left: 20px;
        }
        h4{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 48px;
            text-transform: uppercase;
            text-align: left;
            line-height: 42px;
            margin-right: 40px;
            padding-left: 15px;
            z-index: 2;
            position: relative;
        }
        ul.tags{
            list-style: none;
            padding-left: 0px;
            z-index: 2;
            position: relative;
            li{
                float: left;
                color: #fff;
                font-size: 18px;
                font-family: "HelveticaCEBold" !important;
                padding-left: 12px;
            }
        }
        img.personaje{
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 10px;
        }
        h3{
            color: #fff;
            font-family: 'Champion-HTF-Featherweight' !important;
            font-size: 26px;
            text-transform: uppercase;
            padding-left: 10px;

        }
        .cont_idea3{
            position: absolute;
            top: 10px;
            width: 255px;
            height: 384px;
            background-color:#ff006b;
            box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            left: 50%;
            margin-left: -127.5px;
        }
        ion-slides{
            height: 100%;
            width: 100%;
            padding-left: 0px;
        }
    }
 }
