<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-list class="bg-transparent">
                    <ion-item color="none" lines="none" slot="start">
                        <ion-label>
                            <h2>Your stamina</h2>
                            <h3>
                                {{ user.alias }}
                                <ion-button class="btn btn_editar" mode="ios" color="trans" (click)="onEditar()">
                                    <img src="../../../assets/imgs/icoeditar/icoeditar.svg">
                                </ion-button>
                            </h3>
                            <p class="txt_interes">{{ user.posicion }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="2" class="right">
                <ion-button class="btn" mode="ios" color="trans" (click)="onCerrar()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slides [options]="swipeOpts" >
        <ion-slide>
            <div class="cont_profile">
                <ion-button class="btn btn_fotoprofile" mode="ios" color="trans" (click)="cambiarFoto()">
                    <div class="cover1">
                        <div class="cover2">
                            <ion-img [src]="user.image" height="100" class="img_profile"></ion-img>
                        </div>
                    </div>
                </ion-button>
                <h2>{{ user.points }}<span>/2000</span></h2>
                <h6>jabs done</h6>
                <ul class="estadisticas">
                    <li>
                        <ion-label>
                            <h4>{{ user.badges }}</h4>
                            <h5>Badges</h5>
                        </ion-label>
                    </li>
                    <li>
                        <ion-label>
                            <h4>{{ user.winned }}</h4>
                            <h5>Winned events</h5>
                        </ion-label>
                    </li>
                    <li>
                        <ion-label>
                            <h4>{{ user.counters }}</h4>
                            <h5>Counters</h5>
                        </ion-label>
                    </li>
                </ul>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="bloque2">
        <ion-label>
            <h3>Your badges</h3>
            <h6>7 badges</h6>
        </ion-label>
        <ion-slides [options]="slideOpts2">
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge1/badge1.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p class="active">
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge2/badge2.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge3/badge3.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge4/badge4.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p class="active">
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge2/badge2.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>

        </ion-slides>
        <ion-label>
            <h3>Your daily jabs</h3>
            <h6>465 points</h6>
        </ion-label>
        <div class="cuadro_estadistico">
            <div class="grafico">

                <div class="linea_punteada">
                    <p class="indicador">1000</p>
                </div>

                <div class="linea_seguida">
                    <p class="indicador">10</p>
                    <div class="grafo pos1">
                        <div class="bpuntos tamanio1"></div>
                        <div class="marcacion"></div>
                        <h5>200</h5>
                        <h6>12/10</h6>
                    </div>

                    <div class="grafo pos2">
                        <div class="bpuntos tamanio2"></div>
                        <div class="marcacion"></div>
                        <h5>150</h5>
                        <h6>13/10</h6>
                    </div>

                    <div class="grafo pos3">
                        <div class="bpuntos tamanio3"></div>
                        <div class="marcacion"></div>
                        <h5>250</h5>
                        <h6>13/10</h6>
                    </div>
                    <div class="grafo pos4">
                        <!--<div class="bpuntos tamanio1"></div>-->
                        <div class="marcacion"></div>
                        <!--<h5>250</h5>
                        <h6>13/10</h6>-->
                    </div>
                    <div class="grafo pos5">
                        <!--<div class="bpuntos tamanio1"></div>-->
                        <div class="marcacion"></div>
                        <!--<h5>250</h5>
                        <h6>13/10</h6>-->
                    </div>
                    <div class="grafo pos6">
                        <!--<div class="bpuntos tamanio1"></div>-->
                        <div class="marcacion"></div>
                        <!--<h5>250</h5>
                        <h6>13/10</h6>-->
                    </div>
                    <div class="grafo pos7">
                        <!--<div class="bpuntos tamanio1"></div>-->
                        <div class="marcacion"></div>
                        <!--<h5>250</h5>
                        <h6>13/10</h6>-->
                    </div>



                </div>


            </div>
        </div>

    </div>
    <div class="bloque3">
        <p class="img-favoritos">
            <img src="../../../assets/imgs/favoritos/favoritos.svg">
        </p>
        <ion-label>
            <h3>
                Eventos favoritos
            </h3>
        </ion-label>
        <ion-slides [options]="slideOpts3">
            <ion-slide>
                <div class="cont_idea3">
                    <h4>
                        Disolver versión 2019
                    </h4>
                    <ul class="tags">
                        <li>#fujimori</li>
                        <li>#izquierdazo</li>
                    </ul>
                    <img src="../../../assets/imgs/per1/per1.svg" class="personaje">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea3">
                    <h4>
                        Disolver versión 2019
                    </h4>
                    <ul class="tags">
                        <li>#fujimori</li>
                        <li>#izquierdazo</li>
                    </ul>
                    <img src="../../../assets/imgs/per1/per1.svg" class="personaje">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea3">
                    <h4>
                        Disolver versión 2019
                    </h4>
                    <ul class="tags">
                        <li>#fujimori</li>
                        <li>#izquierdazo</li>
                    </ul>
                    <img src="../../../assets/imgs/per1/per1.svg" class="personaje">
                </div>
            </ion-slide>

        </ion-slides>

    </div>

</ion-content>
