<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list class="bg-transparent">
            <ion-item color="none" lines="none" slot="start">
              <ion-label>
                <h2 class="tit_p0">PERSONALIZA TU CUENTA
                  <ion-button class="btn btn_editar" mode="ios" color="trans" (click)="onEditar()">
                  <img src="../../assets/imgs/icoeditar/icoeditar.svg">
                </ion-button></h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
<ion-slides [options]="swipeOpts" >
  <ion-slide>
    <div class="cont_profile">
        <ion-button class="btn btn_fotoprofile" mode="ios" color="trans">
            <div class="cover1">
              <div class="cover2">
                <ion-item no-padding>
                    <ion-label>
                        <button class="camera" s [style.backgroundImage]="'url(' + user.image + ')'">
                            <img [hidden]="user.image != ''" src="../../assets/imgs/camara/camara.svg" class="img_profile borderedondeado">\
                        </button>
                    </ion-label>
                    <ion-select value="notifications" interface="action-sheet" (ionChange)="openPicture($event)">
                        <ion-select-option value="take">Take photo</ion-select-option>
                        <ion-select-option value="select">Select photo</ion-select-option>
                    </ion-select>
                </ion-item>
              </div>
            </div>
        </ion-button>
        <h2>Elige tu alias</h2>
        <ion-grid>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item>
                <ion-input placeholder="Escribe aquí tu alias" [(ngModel)]="user.alias"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

    </div>
  </ion-slide>
</ion-slides>
<div class="bloque2">
    <ion-label>
        <h3>Elige tu posición</h3>
    </ion-label>
    <ion-slides [options]="slideOpts2">
        <ion-slide>
              <div class="cont_idea2">
                <ion-button [ngClass]="'btn btn_posicion ' + clase.liberal" mode="ios" color="trans" (click)="onPosicion('liberal', 'Liberal')">
                  Liberal
                </ion-button>
              </div>
        </ion-slide>
        <ion-slide>
              <div class="cont_idea2">
                <ion-button [ngClass]="'btn btn_posicion ' + clase.derecha" mode="ios" color="trans" (click)="onPosicion('derecha', 'Derecha')">
                  Derecha
                </ion-button>
              </div>
        </ion-slide>
        <ion-slide>
            <div class="cont_idea2">
              <ion-button [ngClass]="'btn btn_posicion ' + clase.izquierda" mode="ios" color="trans" (click)="onPosicion('izquierda', 'Izquierda')">
                Izquierda
              </ion-button>
            </div>
      </ion-slide>
      <ion-slide>
          <div class="cont_idea2">
            <ion-button [ngClass]="'btn btn_posicion ' + clase.nose" mode="ios" color="trans" (click)="onPosicion('nose', 'No se')">
              No se
            </ion-button>
          </div>
      </ion-slide>
    </ion-slides>
</div>
<ion-grid fixed>
  <ion-row>
    <ion-col size="10" offset="1">
      <ion-button (click)="personalizar()" class="btn-primary btn_comenzar" color="black" shape="round" mode="ios" expand="full" color="trans">
         comenzar!
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
