<ion-header no-border>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="left">
          <ion-button class="btn" mode="ios" color="trans" (click)="onTexto()">
            <img src="../../../assets/imgs/textoico/textoico.svg">
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn" mode="ios" expand="full" color="trans" (click)="onImagen()">
            <img src="../../../assets/imgs/imagenico/imagenico.svg">
          </ion-button>
        </ion-col>
        <ion-col size="4" class="right">
            <ion-button class="btn" mode="ios" color="trans" (click)="onCerrar()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <h6 class="tag">{{ current_tags }}</h6>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce>
  <ion-slides [options]="swipeOpts" >
    <ion-slide [style.backgroundImage]="current_image ? 'url('+current_image+')' : ''">
      <div class="cont_idea">
          <ion-img [src]="current_icon" class="insignia_crear" width="54" height="54"></ion-img>
        <ion-textarea rows="2" maxlength="30" cols="20" [(ngModel)]="text" name="text" placeholder="Escribe tu texto aquí"></ion-textarea>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer no-border>
  <ion-grid>
      <ion-row>

        <ion-col size="4" offset="4">
            <ion-button class="btn btn-respuestas" mode="ios" expand="full" color="trans" (click)="onFiltro()">
              <h6>Filtros<br>
                <i class="fas fa-chevron-up"></i>
              </h6>
            </ion-button>
        </ion-col>
        <ion-col size="3" offset="1">
            <ion-button class="btn btn_crear" mode="ios" expand="full" color="trans" (click)="onCrear()">
              <img src="../../../assets/imgs/btncrear/btncrear.svg">
            </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-footer>
<ion-bottom-drawer [disableDrag]="disableDrag" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
  <div class="drawer-content">

    <ion-slides class="filtros" [options]="slideOpts2">
      <ion-slide *ngFor="let filtro of filtros">
            <div class="cont_idea2">
                <figure class="filtro filtro-imagen" *ngIf="tipo == 'imagen'" [style.backgroundImage]="'url('+filtro.image+')'" (click)="selectFiltro(filtro)"></figure>
                <figure class="filtro filtro-icon" *ngIf="tipo == 'texto'" [style.backgroundImage]="'url('+filtro.icon+')'" (click)="selectFiltro(filtro)"></figure>
            </div>
      </ion-slide>
    </ion-slides>
    <ion-button class="btn btn_crearresp" expand="full" mode="ios" color="black" (click)="crearRespuesta()">
      crear respuesta
    </ion-button>
  </div>
</ion-bottom-drawer>
