ion-content{
    --background: #ff006b !important;
    --overflow: hidden;
}
ion-footer{
    --background: #ff006b !important;
}
ion-slides{
    height: 90%;
}
ion-slide{
    display: block;
    height: 90%;
}
ion-button{
    text-transform: uppercase;
    font-family: 'HelveticaCEBold';
    color: #fff;
    text-transform: uppercase;
}

.slide-img-padding{
    padding: 40px;
}
img.img_linea{
    //max-height: 50px;
    width: 12px;
}
img.img_sack{
    max-height: 550px;
}
img.img_guante{
    max-height: 160px;;
}
p{
    margin: 0px;
}
.imgcuadro{
    margin-top: -15px;;
}
.cont_sack{
    position: relative;
    h1{
        position: relative;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
        margin-top: 100px;
        padding-left: 46px;
        padding-right: 46px;
    }
    .cont_guante{
        position: absolute;
        width: 100%;
        left: 40px;
        bottom: 140px;
    }
    
}
.btn_jab{
    height: 111px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}
h4{
    font-family: 'HelveticaCEBold';
    color: #fff;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
}

@media screen and (max-height: 775px){
    img.img_sack{
        width: 60%;
    }
    img.img_guante{
        width: 50%;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 40px;
            margin-top: 100px;
            padding-left: 46px;
            padding-right: 46px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        
    }
    h4{
        font-size: 17px;
    }
      
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 50px;
            margin-top: 100px;
            padding-left: 46px;
            padding-right: 46px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 60px !important;
            margin-top: 100px;
            padding-left: 46px;
            padding-right: 46px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        
    }
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 60px !important;
            margin-top: 100px;
            padding-left: 46px;
            padding-right: 46px;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        
    }

 }