<ion-content>
  <ion-slides [options]="swipeOpts">
    <ion-slide>
      <div class="cont_sack">
          <h1>
              La ira es como
              una cubeta que
              debes vaciar,
              esta es la dosis
              diaria saludable
              de un ciudadano
              promedio
          </h1>
          <!--<ion-grid>
              <ion-row>
                <ion-col size="10" offset="1">
                    <h4>Usa tus JABS para darle fuerza a las opiniones</h4>
                </ion-col>
              </ion-row>
            </ion-grid> -->
      </div>

    </ion-slide>
  </ion-slides>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button routerLink="/paso5" class="btn btn_jab" mode="ios" expand="full" color="trans">
          Usa tus JABS para<br> darle fuerza a<br> las opiniones
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
