<ion-content>
  <ion-slides [options]="swipeOpts" >
    <ion-slide>
      <div class="cont_sack">
          <h1>
              Desfoga tu <br>ira aquí
          </h1>         
      </div>
      
    </ion-slide>
  </ion-slides>
  <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button class="btn btn_jab" mode="ios" expand="full" color="trans" (click)="lanzarJab()">
            <div class="progress white">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">JAB!</div>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>