ion-content{
    //--background: #ff006b !important;
    --background: url('../../assets/imgs/bg_paso4.png') 0 0/100% 100% no-repeat;
    --overflow: hidden;
}
ion-footer{
    --background: #ff006b !important;
}
ion-slides{
    height: 90%;
}
ion-slide{
    display: block;
    height: 90%;
}

.bg-image{
    background-image: url('../../assets/imgs/bg_paso4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.slide-img-padding{
    padding: 40px;
}
img.img_linea{
    //max-height: 50px;
    width: 12px;
}
img.img_sack{
    max-height: 550px;
}
img.img_guante{
    max-height: 160px;;
}
p{
    margin: 0px;
}
.imgcuadro{
    margin-top: -15px;;
}
.cont_sack{
    position: relative;
    h1{
        position: absolute;
        width: 100%;
        top: 120px;
        color: #000;
        text-transform: uppercase;
        font-size: 60px;
        margin-top: 60px;
        line-height: 52px;
    }
    .cont_guante{
        position: absolute;
        width: 100%;
        left: 40px;
        bottom: 140px;
    }
    
}
.btn_jab{
    height: 111px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}

/* JAB */

.progress{
    width: 86px;
    height: 86px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    font-family: 'Champion-HTF-Featherweight';
}
.progress:after{
    content: "";
    width: 86%;
    height: 86%;
    border-radius: 50%;
    border: 6px solid #000;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}


.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    //animation: loading-0 1.8s linear forwards;
    animation-name: loading-0;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    //background: #44484b;
    background: #000;
    font-size: 38px;
    color: #fff;
    line-height: 82px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.white .progress-bar{
    border-color: #fff;
}
.progress.white .progress-left .progress-bar{
    //animation: loading-9 1.5s linear forwards 1.8s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-0{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
    100%{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@keyframes loading-3{
    0%{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    100%{
        -webkit-transform: rotate(67.5deg);
        transform: rotate(67.5deg);
    }
}

@keyframes loading-4{
    0%{
        -webkit-transform: rotate(67.5deg);
        transform: rotate(67.5deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-5{
    0%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    100%{
        -webkit-transform: rotate(112.5deg);
        transform: rotate(112.5deg);
    }
}

@keyframes loading-6{
    0%{
        -webkit-transform: rotate(112.5deg);
        transform: rotate(112.5deg);
    }
    100%{
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

@keyframes loading-7{
    0%{
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100%{
        -webkit-transform: rotate(157.5deg);
        transform: rotate(157.5deg);
    }
}

@keyframes loading-8{
    0%{
        -webkit-transform: rotate(157.5deg);
        transform: rotate(157.5deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}


/*
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
*/

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}




/* END JAB */


@media screen and (max-height: 775px){
    img.img_sack{
        width: 60%;
    }
    img.img_guante{
        width: 50%;
    }
}