ion-content{
  --background: #000 !important;
  --overflow: hidden;
}
.contenedor{
  	background-color: #000000;
  padding-bottom: 20px;
  min-height: 100%;
}
.persona {
  object-fit: contain;
  mix-blend-mode: luminosity;
  border-radius: 420px;
  text-align: center;
  img{
    width: 558px;
    max-width: 558px;
    position: relative;
    margin-left: -90px;
  }
}
.puno{
	  //margin-top: -75px;
    text-align: center;
    //position: relative;
    position: absolute;
    width: 100%;
    bottom: 275px;

    img {
        width: 95px;
    }
}
h1{
  font-family: Champion-HTF-Featherweight;
  font-size: 64.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff006b;
  text-align: center;
  margin: 0;
  height: 60px;
  position: absolute;
    width: 100%;
    bottom: 225px;
}
.p1{
  color: white;
  text-align: center;
  font-family: helvetica !important;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 170px;
}
.redes {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 80px;
}
.popterms{
  text-decoration: underline;
}
.redes .facebook{
  width: 86px;
  height: 86px;
  object-fit: contain;
  margin: 0 20px;
}
.redes .twiter{
  width: 86px;
  height: 86px;
  object-fit: contain;
  margin: 0 20px;
}
.p2{
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  margin: 20px 0 0;
  font-family: helvetica !important;
    font-weight: bold;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}



@media screen and (max-height: 775px){
  /*img.img_luchador{
      width: 60%;
  }
  img.img_guante{
      width: 50%;
  }*/
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .persona{
    img{
      width: 325px !important;
      max-width: 325px !important;
      margin-left: 0px !important;
      margin-top: -38px !important;
    }
  }  

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .persona{
    //margin-top: -145px;
    img{
      width: 438px !important;
      max-width: 438px !important;
      position: relative;
      margin-left: -25px !important;
    }
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  .persona{
    margin-top: 0px !important;
    img{
      width: 605px !important;
      max-width: 605px !important;
      position: relative;
      margin-left: -90px !important;
    }
  }  

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .persona {
    object-fit: contain;
    mix-blend-mode: luminosity;
    border-radius: 420px;
    text-align: center;
    img{
      width: 516px !important;
      max-width: 516px !important;
      position: relative;
      margin-left: -50px !important;
    }
  }
}
