<ion-content>
<div class="contenedor">
	<div class="persona">
		<img src="../../assets/imgs/luchador/luchador.svg" class="img_luchador">
	</div>
	<div class="puno">
		<img src="assets/imgs/puno.svg" alt="">
	</div>
	<h1>JAB</h1>
	<button *ngIf="ambiente_dev" (click)="loginPrueba()">Login solo para pruebas</button>
	<div class="redes">
		<img src="assets/imgs/facebook.svg" class="facebook" (click)="loginFb()">
		<img src="assets/imgs/google.svg" class="twiter" (click)="loginGoogle()">
	</div>
	<p class="p2">continuar implica que he leido y aceptadolos<br>
		<ion-text class="popterms">Términos y condiciones</ion-text> y <ion-text class="popterms">Política de privacidad</ion-text> </p>
	</div>
</ion-content>
