<ion-content>
    <div class="header">
        <ion-icon name="arrow-back" (click)="onCerrar()"></ion-icon> Options
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img [src]="user.image" class="img_profile"></ion-img>
            </ion-col>
            <ion-col size="9">
                <ion-item>
                    <ion-label position="stacked">tu ID</ion-label>
                    <ion-input required type="text" (keyup)="typing()" [(ngModel)]="user.alias"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">me defino como</ion-label>
                    <ion-select placeholder="Elegir uno" (ionChange)="save()" [(ngModel)]="user.posicion">
                        <ion-select-option value="Liberal">Liberal</ion-select-option>
                        <ion-select-option value="Derecha">Derecha</ion-select-option>
                        <ion-select-option value="Izquierda">Izquierda</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr>
    <ul class="enlaces">
        <li><a>Contact us</a></li>
        <li><a>File a report</a></li>
        <li><a>FAQ</a></li>
        <li><a>Security</a></li>
        <li><a>Privacy</a></li>
    </ul>
    <hr>
    <ul class="enlaces2">
        <li><a>Delete account</a></li>
        <li><a (click)="logout()">Log out</a></li>
    </ul>
</ion-content>
