ion-content,
ion-header {
    --background: #000 !important;
    color: #fff;
}
h2.alert-title {
    font-family: inherit !important;
}
ion-item {
    --background: #000;
}
ion-label {
    opacity: 0.5;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.64px;
    color: #ffffff !important;
}
ion-input,
ion-select {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.64px;
    color: #ffffff;
}
hr {
    background-color: #999999;
    margin: 20px 0;
}
li {
    margin-bottom: 20px;
}
a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-family: Helvetica;
    text-decoration: none;
}
.enlaces a {
    font-size: 16px;
    letter-spacing: -0.64px;
    color: #ffffff;
}
.enlaces2 a {
    font-size: 18px;
    letter-spacing: -0.72px;
    color: #999999;
}
.header {
    background: #101010;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    color: #c4c4c4;
    padding: 15px 10px;
    margin-top: 20px;

    ion-icon {
        font-size: 22px;
        vertical-align: bottom;
        margin-right: 7px;
    }
}
