:host {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 11 !important;
  background-color: white;
  transform: translateY(100vh);
}
ion-content{
  //--background: #000 !important;
  //--background: linear-gradient(left, tomato 20%, cyan 60%, lightgreen 100%) !important;
  --background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  //--background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  //--background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 13.5%, rgba(0, 0, 0, 1)33.33%, rgba(0, 0, 0, 1) 100%) !important;
  
  opacity: 0.98;
}
main{
  border-radius: 20px !important;
}