<ion-content>
  <ion-slides [options]="swipeOpts">
    <ion-slide>
      <div class="cont_sack">
          <ion-grid class="cont_cinturon">
            <ion-row>
              <ion-col size="10" offset="1">
                  <img src="assets/imgs/cinturon/cinturon.svg" class="img_cinturon">
              </ion-col>
            </ion-row>
          </ion-grid>
          <h1>
              En este ring<br>
              toda opinión suma
          </h1>
          <p class="txt_desc">
            Libera tu stress mientras <br>
            amplifica la voz de las minorias
          </p>
      </div>

    </ion-slide>
  </ion-slides>
  <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button routerLink="/login" class="btn-primary btn_comenzar" color="black" shape="round" mode="ios" expand="full" color="trans">
             comenzar!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
