ion-content{
    --background: #ff006b !important;
}
ion-footer{
    --background: #ff006b !important;
}
ion-slides{
    height: 90%;
}
ion-slide{
    display: block;
    height: 90%;
}
.slide-img-padding{
    padding: 40px;
}
img.img_linea{
    //max-height: 50px;
    width: 12px;
}
img.img_sack{
    max-height: 550px;
}
img.img_guante{
    max-height: 160px;;
}
img.img_cinturon{
    
}
p{
    margin: 0px;
}
.imgcuadro{
    margin-top: -15px;;
}
.cont_sack{
    position: relative;
    h1{
        position: relative;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 65px;
        margin-top: 20px;
        line-height: 65px;
    }
    h3{
        position: relative;
        width: 100%;
        color: #424242;
        text-transform: uppercase;
        font-size: 40px;
    }
    p.txt_tit1{
        font-family: 'HelveticaCEBold' !important;
        font-size: 22px;
        color: #fff;
        margin-top: 70px;
    }
    p.txt_salud{
        font-family: 'HelveticaCEBold' !important;
        font-size: 22px;
        color: #fff;
    }
    .cont_guante{
        position: absolute;
        width: 100%;
        left: 40px;
        bottom: 140px;
    }
    .cont_cinturon{
        position: relative;
        width: 100%;
        margin-top: 30px;
    }
    p.txt_desc{
        font-family: 'HelveticaCERegular' !important;
        font-size: 22px;
        color: #fff;
    }
    
}
.btn_jab{
    height: 111px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}
.btn_comenzar{
    height: 48px;
    position: relative;
    z-index: 2;
    background: #000;
    border-radius: 7px;
    font-family: 'HelveticaCEBold' !important;
    font-size: 22px;
}

@media screen and (max-height: 775px){
    img.img_sack{
        width: 60%;
    }
    img.img_guante{
        width: 50%;
    }
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    ion-slides{
        height: 85%;
    }
    ion-slide{
        display: block;
        height: 85%;
    }
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 50px;
            margin-top: 10px;
            line-height: 55px;
        }
        h3{
            position: relative;
            width: 100%;
            color: #424242;
            text-transform: uppercase;
            font-size: 30px;
            margin-top: 0px;
            margin-bottom: 2px;
        }
        p.txt_tit1{
            font-family: 'HelveticaCEBold' !important;
            font-size: 18px;
            color: #fff;
            margin-top: 65px;
        }
        p.txt_salud{
            font-family: 'HelveticaCEBold' !important;
            font-size: 16px;
            color: #fff;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cont_cinturon{
            position: relative;
            width: 40%;
            margin-top: 15px;
        }
        p.txt_desc{
            font-family: 'HelveticaCERegular' !important;
            font-size: 17px;
            color: #fff;
        }
        
    }

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
}

/* ----------- iPhone X ----------- */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    
    .cont_sack{
        position: relative;
        h1{
            position: relative;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 65px;
            margin-top: 20px;
            line-height: 65px;
        }
        h3{
            position: relative;
            width: 100%;
            color: #424242;
            text-transform: uppercase;
            font-size: 40px;
        }
        p.txt_tit1{
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            color: #fff;
            margin-top: 70px;
        }
        p.txt_salud{
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            color: #fff;
        }
        .cont_guante{
            position: absolute;
            width: 100%;
            left: 40px;
            bottom: 140px;
        }
        .cont_cinturon{
            position: relative;
            width: 100%;
            margin-top: 30px;
        }
        p.txt_desc{
            font-family: 'HelveticaCERegular' !important;
            font-size: 22px;
            color: #fff;
        }
        
    }
    

 }