<ion-content>
    <ion-slides [options]="swipeOpts">
      <ion-slide>
        <div class="cont_sack">
            <p class="txt_tit1">
              mantente saludable
            </p>
            <h1>
                Tu cuota de hoy
            </h1>
            <ion-grid class="cont_cinturon">
              <ion-row>
                <ion-col size="10" offset="1">
                    <img src="assets/imgs/jabfuego/jabfuego.svg" class="img_cinturon">
                </ion-col>
              </ion-row>
            </ion-grid>
            <h3>
                {{ jabs }}/1000 JABS
            </h3>
            <p class="txt_salud">
              Jabs Saludables
            </p>
            <p class="txt_desc">
              La ira es como una cubeta que <br>
              debes vaciar, esta es la dosis <br>
              diaria saludable de un ciudadano<br>
              promedio
            </p>
        </div>

      </ion-slide>
    </ion-slides>
    <ion-grid fixed>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button routerLink="/dashboard" class="btn-primary btn_comenzar" color="black" shape="round" mode="ios" expand="full" color="trans">
               ok hit me!
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
