<!--<ion-header>
<ion-toolbar>
<ion-title>event1</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->
<ion-header no-border>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-list class="bg-transparent">
                        <ion-item color="none" lines="none" slot="start">
                            <ion-avatar>
                                <ion-img [src]="card.user.image"></ion-img>
                            </ion-avatar>
                            <ion-label>
                                <h2>by {{ card.user.alias }}</h2>
                                <p class="hashtag">{{ card.tags.join(' ') }}</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size="6" class="right">
                    <ion-button class="btn" mode="ios" color="trans" (click)="onCerrar()">
                        <ion-icon name="close"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce>
    <div class="fondo" [style.backgroundImage]="card.image ? 'url('+card.image+')' : ''">
        <ion-slides [options]="swipeOpts" >
            <ion-slide>
                <div class="cont_idea">
                    <ion-img [src]="card.icon" class="insignia" width="54" height="54"></ion-img>
                    <img src="../../assets/imgs/ico_favorito/ico_favorito.svg" class="favorito">

                    <h2>{{ card.text }}</h2>
                    <p>
                        {{ card.jabs }} jabs
                    </p>
                </div>

            </ion-slide>
        </ion-slides>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="10" offset="1">
                    <ion-button class="btn btn_jab" mode="ios" expand="full" color="trans" (click)="lanzarJab()">
                        <div class="progress white">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">JAB!</div>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-footer no-border>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-button class="btn btn-compartir" mode="ios" color="trans" (click)="compartir()">
                    <img src="../../assets/imgs/compartir/compartir.svg">
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button class="btn btn-respuestas" mode="ios" expand="full" color="trans" (click)="listaRespuestas()">
                    <h6>6 Respuestas<br>
                        <i class="fas fa-chevron-up"></i>
                    </h6>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="right">
                <ion-button class="btn btn-responder" mode="ios" color="trans" (click)="responder()">
                    <img src="../../assets/imgs/responder/responder.svg">
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
<ion-bottom-drawer [disableDrag]="disableDrag" [(state)]="drawerState" [minimumHeight]="minimumHeight"
[dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
<div class="drawer-content">

    <ion-slides [options]="slideOpts2">
        <ion-slide>
            <div class="cont_idea2">
                <img src="../../assets/imgs/insignia/insignia.svg" class="insignia">
                <h2>
                    Demuestrenmelo pues
                    imbésiles
                </h2>
                <p>
                    2,000,4556 jabs
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cont_idea2">
                <img src="../../assets/imgs/insignia/insignia.svg" class="insignia">
                <h2>
                    Demuestrenmelo pues
                    imbésiles
                </h2>
                <p>
                    2,000,4556 jabs
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cont_idea2">
                <img src="../../assets/imgs/insignia/insignia.svg" class="insignia">
                <h2>
                    Demuestrenmelo pues
                    imbésiles
                </h2>
                <p>
                    2,000,4556 jabs
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cont_idea2">
                <img src="../../assets/imgs/insignia/insignia.svg" class="insignia">
                <h2>
                    Demuestrenmelo pues
                    imbésiles
                </h2>
                <p>
                    2,000,4556 jabs
                </p>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-button class="btn btn_crearresp" expand="full" mode="ios" color="black" (click)="crearRespuesta()">
        crear respuesta
    </ion-button>
</div>
</ion-bottom-drawer>
