<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-list class="bg-transparent">
                    <ion-item color="none" lines="none" slot="start">
                        <ion-label>
                            <h2>Your stamina</h2>
                            <h3>
                                {{ user.alias }}
                                <ion-button class="btn btn_editar" mode="ios" color="trans" (click)="onEditar()">
                                    <img src="../../../assets/imgs/icoeditar/icoeditar.svg">
                                </ion-button>
                            </h3>
                            <p class="txt_interes">{{ user.posicion }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="2" class="right">
                <ion-button class="btn" mode="ios" color="trans" (click)="onCerrar()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slides [options]="swipeOpts" >
        <ion-slide>
            <div class="cont_profile">
                <ion-button class="btn btn_fotoprofile" mode="ios" color="trans" (click)="cambiarFoto()">
                    <div class="cover1">
                        <div class="cover2">
                            <ion-img [src]="user.image" height="100" class="img_profile"></ion-img>
                        </div>
                    </div>
                </ion-button>
                <h2>{{ points }}<span>/2000</span></h2>
                <h6>jabs done</h6>
                <ul class="estadisticas">
                    <li>
                        <ion-label>
                            <h4>{{ user.badges }}</h4>
                            <h5>Badges</h5>
                        </ion-label>
                    </li>
                    <li>
                        <ion-label>
                            <h4>{{ user.winned }}</h4>
                            <h5>Winned events</h5>
                        </ion-label>
                    </li>
                    <li>
                        <ion-label>
                            <h4>{{ user.counters }}</h4>
                            <h5>Counters</h5>
                        </ion-label>
                    </li>
                </ul>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="bloque2">
        <ion-label>
            <h3 class="transparent">Your badges (coming soon)</h3>
            <h6 class="transparent">7 badges</h6>
        </ion-label>
        <ion-slides class="transparent" [options]="slideOpts2">
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge1/badge1.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p class="active">
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge2/badge2.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge3/badge3.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge4/badge4.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p class="active">
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="cont_idea2">
                    <p class="bloque_imagen">
                        <img src="../../../assets/imgs/badge2/badge2.svg" class="badge">
                    </p>
                    <h2>
                        Pollito
                    </h2>
                    <p>
                        Hiciste tu primer jab
                    </p>
                </div>
            </ion-slide>

        </ion-slides>
        <ion-label>
            <h3>Your daily jabs</h3>
            <h6>{{ points }} points</h6>
        </ion-label>
        <div class="cuadro_estadistico">
            <div class="grafico">

                <div class="linea_punteada">
                    <p class="indicador">1000</p>
                </div>

                <div class="linea_seguida">
                    <p class="indicador">10</p>
                    <div class="grafo pos{{ grafo.id }}" *ngFor="let grafo of grafos">
                        <div class="bpuntos tamanio1"></div>
                        <div class="marcacion"></div>
                        <h5>{{ grafo.points }}</h5>
                        <h6>{{ grafo.date }}</h6>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="bloque3">
        <p class="img-favoritos">
            <img src="../../../assets/imgs/favoritos/favoritos.svg">
        </p>
        <ion-label>
            <h3>
                Eventos favoritos
            </h3>
        </ion-label>
        <ion-slides [options]="slideOpts3">
            <ion-slide *ngFor="let card of favorites">
                <div class="cont_idea3" (click)="openEvent(card)">
                    <h4>{{ card.text }}</h4>
                    <div class="imagen2" [style.backgroundImage]="card.image ? 'url('+card.image+')' : ''">
                        <h2 class="h10">{{ card.tags.join(' ') }}</h2>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

    </div>

</ion-content>
