ion-content{
    --background: #000 !important;
}
ion-header{
    position: absolute;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
ion-footer{
    position: absolute;
    bottom: 0px;
}
ion-slides{
    height: 100vh;
}
ion-button{
    ion-icon{
        font-size: 55px;
    }
}
ion-slide{
    display: block;
    height: 100vh;
    background-size: cover;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.bg-transparent {
    background: transparent;
}
.filtro {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0;
    background-size: cover;
    margin-top: 40px;
}
h2.alert-title {
    font-family: var(--ion-font-family,inherit) !important;
}
.btn-respuestas{
    h6{
        color: #fff;
        float: left;
        font-family: 'HelveticaCEBold' !important;
    }
    i{
        width: 100%;
        float: left;
        font-size: 25px;
    }
}
.cont_idea{
    position: absolute;
    //bottom: -48px;
    top: 50%;
    width: 275px;
    height: 110px;
    background-color:rgba(255, 0, 107, 0.7);
    border-radius: 10px;
    left: 50%;
    margin-left: -137.5px;
    .insignia_crear{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
        left: 50%;
        position: absolute;
        margin: -32px 0 0 -27px;
        background-color: #fff;
    }
    ion-textarea{
        color: #fff;
        font-size: 32px;
        font-family: "Champion-HTF-Featherweight" !important;
        height: 110px;
        line-height: 28px;
        margin-top: 30px;

    }
    img.insignia{
        margin-top: -20px;
    }
    img.favorito{
        position: absolute;
        right: 20px;
        top: -3px;
    }
    h2{
        color: #fff;
        font-family: "Champion-HTF-Featherweight" !important;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 7px;
        padding-top: 0px;
        margin-bottom: 2px;

    }
    p{
        color: #fff;
        font-family: 'HelveticaCEBold' !important;
    }
}
.btn_crear{
    img{
        width: 72%;
    }
}
.fondo_seleccionado{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.tag{
    color: #fff;
    font-family: 'HelveticaCEBold' !important;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}
.drawer-content {
    //border-top: 0.5px solid #e5e5e5;
    padding: 10px;
    color: #fff;
    width: 100%;
    height: 350px;
    .cont_idea2{
        position: absolute;
        top: 30px;
        //width: 170px;
        width: 100%;
        height: 80px;
        //left: 50%;
        //margin-left: -35px;
        margin-left: 0px;
        .btn_filtro{
            height: 155px;
            img{
                width: 124px;
                max-width: 300px;
                max-height: 300px;
                height: 300px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
        img.favorito{
            position: absolute;
            right: 20px;
            top: -3px;
        }
        h2{
            color: #fff;
            font-family: "Champion-HTF-Featherweight" !important;
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 7px;
            padding-top: 0px;
            margin-bottom: 2px;

        }
        p{
            color: #fff;
            font-family: 'HelveticaCEBold' !important;
            margin-top: 45px;
        }
    }
    .btn_crearresp{
        background-color: #000 !important;
        color: #fff;
        font-family: 'HelveticaCEBold' !important;
        font-size: 22px;
        border-radius: 10px;
    }
}

ion-bottom-drawer{
    background-color: transparent !important;
    color: #fff;
    ion-content{
        main{
            background-color: red !important;
            border: 2px solid !important;
            border-radius: 20px !important;
        }
    }
}

@media screen and (max-height: 775px){
    img.img_sack{
        width: 60%;
    }
    img.img_guante{
        width: 50%;
    }
}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .drawer-content {
        //border-top: 0.5px solid #e5e5e5;
        padding: 10px;
        color: #fff;
        width: 100%;
        height: 350px;
        .cont_idea2{
            position: absolute;
            top: 30px;
            //width: 170px;
            width: 100%;
            height: 80px;
            //left: 50%;
            //margin-left: -35px;
            margin-left: 0px;
            .btn_filtro{
                height: 155px;
                img{
                    width: 95px;
                    max-width: 300px;
                    max-height: 300px;
                    height: 300px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
            img.favorito{
                position: absolute;
                right: 20px;
                top: -3px;
            }
            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 7px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: #fff;
                font-family: 'HelveticaCEBold' !important;
                margin-top: 45px;
            }
        }
        .btn_crearresp{
            background-color: #000 !important;
            color: #fff;
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            border-radius: 10px;
        }
    }


}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .drawer-content {
        //border-top: 0.5px solid #e5e5e5;
        padding: 10px;
        color: #fff;
        width: 100%;
        height: 350px;
        .cont_idea2{
            position: absolute;
            top: 30px;
            //width: 170px;
            width: 100%;
            height: 80px;
            //left: 50%;
            //margin-left: -35px;
            margin-left: 0px;
            .btn_filtro{
                height: 155px;
                img{
                    width: 124px;
                    max-width: 300px;
                    max-height: 300px;
                    height: 300px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
            img.favorito{
                position: absolute;
                right: 20px;
                top: -3px;
            }
            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 7px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: #fff;
                font-family: 'HelveticaCEBold' !important;
                margin-top: 45px;
            }
        }
        .btn_crearresp{
            background-color: #000 !important;
            color: #fff;
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            border-radius: 10px;
        }
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .drawer-content {
        //border-top: 0.5px solid #e5e5e5;
        padding: 10px;
        color: #fff;
        width: 100%;
        height: 350px;
        .cont_idea2{
            position: absolute;
            top: 30px;
            //width: 170px;
            width: 100%;
            height: 80px;
            //left: 50%;
            //margin-left: -35px;
            margin-left: 0px;
            .btn_filtro{
                height: 155px;
                img{
                    width: 124px;
                    max-width: 300px;
                    max-height: 300px;
                    height: 300px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
            img.favorito{
                position: absolute;
                right: 20px;
                top: -3px;
            }
            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 7px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: #fff;
                font-family: 'HelveticaCEBold' !important;
                margin-top: 45px;
            }
        }
        .btn_crearresp{
            background-color: #000 !important;
            color: #fff;
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            border-radius: 10px;
        }
    }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .drawer-content {
        //border-top: 0.5px solid #e5e5e5;
        padding: 10px;
        color: #fff;
        width: 100%;
        height: 350px;
        .cont_idea2{
            position: absolute;
            top: 30px;
            //width: 170px;
            width: 100%;
            height: 80px;
            //left: 50%;
            //margin-left: -35px;
            margin-left: 0px;
            .btn_filtro{
                height: 155px;
                img{
                    width: 124px;
                    max-width: 300px;
                    max-height: 300px;
                    height: 300px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
            img.favorito{
                position: absolute;
                right: 20px;
                top: -3px;
            }
            h2{
                color: #fff;
                font-family: "Champion-HTF-Featherweight" !important;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 7px;
                padding-top: 0px;
                margin-bottom: 2px;

            }
            p{
                color: #fff;
                font-family: 'HelveticaCEBold' !important;
                margin-top: 45px;
            }
        }
        .btn_crearresp{
            background-color: #000 !important;
            color: #fff;
            font-family: 'HelveticaCEBold' !important;
            font-size: 22px;
            border-radius: 10px;
        }
    }


 }
