<ion-content>
  <ion-slides [options]="swipeOpts">
    <ion-slide>
      <div class="cont_sack" [hidden]="estado == 'golpe'">
          <h1>
              Toca aquí<br>
              para<br>
              comenzar
          </h1>
          <ion-grid class="cont_manos">
              <ion-row>
                <ion-col size="10" offset="1">
                    <img src="assets/imgs/manos/manos.gif" width="150" class="manos">
                </ion-col>
              </ion-row>
            </ion-grid>
          <img src="assets/imgs/sack/sack.svg" class="img_sack">
      </div>
      <div class="cont_sack" [hidden]="estado == 'pausa'">
          <h1>
              Buen Jab!!
          </h1>
          <ion-grid class="cont_guante">
              <ion-row>
                <ion-col size="10" offset="1">
                    <img src="assets/imgs/guante/guante.svg" class="img_guante">
                </ion-col>
              </ion-row>
            </ion-grid>
          <p>
            <img src="assets/imgs/linea/linea.svg" class="img_linea">
          </p>
          <p class="imgcuadro">
            <img src="assets/imgs/cuadro/cuadro.svg" class="img_sack sack2">
          </p>
      </div>

    </ion-slide>
  </ion-slides>
  <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button class="btn btn_jab" mode="ios" expand="full" color="trans" (click)="lanzarJab()">
            <div class="progress white">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">JAB!</div>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
